@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



$mainBack: hsla(0, 0%, 10%, 1);
$borderRed: 0.063rem solid re;
$lightness50: hsl(0, 0%, 50%);
$lightness70: hsl(0, 0%, 70%);
$lightness80: hsl(0, 0%, 80%);



*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: $mainBack;
    background-attachment: fixed;
    min-height: 200vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 9998;
    background-color: hsla(0, 0%, 10%, 1);
    box-shadow: 0 0 2rem hsla(0, 0%, 10%, 1);

    .titleNFT {
        border: $borderRed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 9%;
        margin-top: 2rem;
        row-gap: 0.5rem;
        
        h1 {
            font: {
                family: 'Montserrat', sans-serif;
                size: 3.5rem;
            }
            color: $lightness70;
        }

        h2 {
            font-family: 'Righteous', cursive;
            font-size: 1.75rem;
            background-image: linear-gradient(90deg, hsl(60, 100%, 40%), hsl(30, 100%, 50%));
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            padding: 0.5rem;
        }
    }
}

main {
    .viewSpace {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transition: all 1s linear;
        z-index: 9999;
        background-color:hsla(0, 0%, 10%, 0.8);
        opacity: 0;
        display: none;

        .close {
            width: 2rem;
            transition: opacity .1s linear;
            opacity: 0.1;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 9999;
            cursor: pointer;

            &:hover {
                opacity: 0.3;
            }
        }

        canvas {
            position: absolute;
            top: 50%;
            left: 50%;
            border-radius: 1rem;
            transform: translate(-50%, -50%);
            box-shadow: 0 0 0.5rem hsla(0, 0%, 0%, 0.5); 
        }
    }

    section {
        border: $borderRed;
        margin: 8rem 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        column-gap: 10%;

        .nftImg {
            justify-self: flex-end;
            border: $borderRed;
            border-radius: 1rem;
            width: 80%;     
            transition: all .3s linear;
            cursor: pointer; 

            &:hover {
                box-shadow: 0 0 1rem hsl(0, 0%, 20%);
            }
        }

        .techInfo {
            width: 80%;
            justify-self: flex-start;
            border: $borderRed;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-start;
            
            color: $lightness70;
            font-size: 1.5rem;
            font-family: 'Open Sans', sans-serif;

            .nftHead {
                .nftID, .nftYear {
                    color: $lightness50;
                    font-size: 1rem;
                }
            }

            .nftDescription {
                text-align: justify;
                width: 70%;
            }
    
            .nftPrice {
                color: $lightness80;
                font-weight: bold;
            }
        }
    }
}