@media (max-width: 1440px) {
    header {
        .titleNFT {
            row-gap: 0rem;
            h1 {
                font-size: 2.5rem;
            }
            h2 {
                font-size: 1.25rem;
            }
        }
    }
    main {
        section {
            .techInfo {
                font-size: 1.25rem;

                .nftHead {
                    .nftID, .nftYear {
                        font-size: 0.75rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    main {
        section {
            .techInfo {
                font-size: 1rem;

                .nftHead {
                    .nftID, .nftYear {
                        font-size: 0.625rem;
                    }
                }

                .nftDescription {
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    header {
        .titleNFT {
            h1 {
                font-size: 2rem;
            }
            h2 {
                font-size: 1rem;
            }
        }
    }
    main {
        section {
            column-gap: 5%;
            .nftImg {
                width: 90%;
            }
            .techInfo {
                width: 90%;
            }
        }
    }
}
@media (max-width: 597px) {
    main {
        section {
            grid-template-columns: 1fr;
            grid-template-rows: 50% auto;
            column-gap: 0%;

            .nftImg {
                width: 70%;
                grid-row: 2 / 3;
                justify-self: center;
            }
            .techInfo {
                width: 90%;
                grid-row: 1 / 2;
                justify-self: center;
                column-gap: 50%;

                .nftPrice {
                    align-self: flex-end;
                }
            }
        }
    }
}