@media (max-width: 1440px) {
    .title {
        row-gap: 0rem;
        &__header {
            font-size: 2.5rem;
        }
        &__subheader {
            font-size: 1.25rem;
        }
    }
    .block-info {
        font-size: 1.25rem;

        &__id, &__year {
            font-size: 0.75rem;
        }
    }
}
@media (max-width: 1024px) {
    .block-info {
        font-size: 1rem;

        &__id, &__year {
            font-size: 0.625rem;
        }

        &__main {
            width: 100%;
        }
    }
}
@media (max-width: 768px) {
    .title {
        &__header {
            font-size: 2rem;
        }
        &__subheader {
            font-size: 1rem;
        }
    }
    .section {
        column-gap: 5%;
    }
    .block-img {
        width: 90%;
    }
    .block-info {
        width: 90%;
    }
}
@media (max-width: 597px) {
    .section {
        grid-template-columns: 1fr;
        grid-template-rows: 50% auto;
        column-gap: 0%;
    }
    .block-img {
        width: 70%;
        grid-row: 2 / 3;
        justify-self: center;
    }
    .block-info {
        width: 90%;
        grid-row: 1 / 2;
        justify-self: center;
        column-gap: 50%;

        &__price {
            align-self: flex-end;
        }
    }
}